{% extends 'main.twig' %}

{% block title %}Modify password{% endblock %}
{% block content %}
<div class="contentbg">
    <div class="background">
        <h1>Modify password</h1>
            <form action={{ url_for('change_password') }} method="post">
                {% if session %}
                    <p><strong id="info">{{ session }}</strong>, modify your password with the form below :</p>
                {% endif %}
                <p><strong id="info">New password : </strong><input type="text" name="newpassword"></p>
                <p><strong id="info">Confirmation new password : </strong><input type="text" name="verifynewpwd"></p>
                <button type="submit" id="submit">Update password</button>
                {% if token %}
                    <input type="hidden" name={{ token['nameKey'] }} value={{ token['name'] }}>
                    <input type="hidden" name={{ token['valueKey'] }} value={{ token['value'] }}>
                {% endif %}
            </form>

             <p id="message-warning">{{ message }}</p>

            <div id="button-div">
                <p><a href= {{ url_for('signin') }}><input type="button" value="Back to home" name="back" class="button button1"></a></p>
            </div>
    </div>
</div>
{% endblock %}
