{% extends 'main.twig' %}

{% block title %}Sign In{% endblock %}
{% block content %}
<div class="contentbg">
    <div class="background">
        <div id="information">
        <h1>Sign in</h1>
            <form action= {{ url_for('authenticate') }} method="post">
                <p><strong id="info">Username :  </strong> <input type="text" name="login"></p>
                <p><strong id="info">Password :  </strong> <input type="password" name="password"></p>
                <button type="submit" id="connect">Connect me</button>
                {% if token %}
                        <input type="hidden" name={{ token['nameKey'] }} value={{ token['name'] }}>
                        <input type="hidden" name={{ token['valueKey'] }} value={{ token['value'] }}>
                {% endif %}
            </form>
        </div>
        <p id="message-warning">{{ message }}</p>
    </div>
</div>
{% endblock %}

